.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*.DS_Store
inst/doc
vignettes/*.html
vignettes/*.R

inst/sedproxy-shiny/rsconnect/*
!inst/sedproxy-shiny/app.R

docs

*_files
*_cache
*.pdf
*.html
*.bbl
*.tex

*Rprof.out

readme.html
!readme_files
doc
Meta
/doc/
/Meta/
